<table class="table table-striped">
  
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Accion</th>
      
      </tr>
    </thead>
    <tbody>
  
      @for (bar of paginatedBares; track bar.id) {
        <tr >
          <td>{{bar.id}}</td>
          <td>{{bar.nombre}}</td>
          <td>{{bar.direccion}}</td>
          <td>{{bar.telefono}}</td>
          
          <td>
            <button (click)="updateBar(bar)" class="btn btn-info">Editar</button>
            <button (click)="deleteBar(bar)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
  
      }
      
    </tbody>
  </table>
  
  <button (click)="addBar()" class="btn btn-success" id="button">Agregar nuevo</button>
  
  
  
  <div>
    <button class="btn btn-light" (click)="page = page - 1" [disabled]="page === 1">Anterior</button>
    <span>Página {{page}}</span>
    <button class="btn btn-light" (click)="page = page + 1" [disabled]="page === Math.ceil(bares.length / pageSize)">Siguiente</button>
  </div>
  
  <!-- Modal -->
  <div id="barModal" class="hidden modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="barModalLabel" class="modal-title text-center">{{modalTitle}}</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" class="form-control"  (input) = "getNombre($event)" value="{{bar.nombre}}">
          </div>
          <div class="form-group">
            <label for="tipo">Direccion</label>
            <input type="text" id="tipo" class="form-control" (input) = "getDireccion($event)" value="{{bar.direccion}}">
          </div>
          <div class="form-group">
            <label for="stock">Telefono</label>
            <input type="number" id="stock" class="form-control" (input) = "getTelefono($event)"value="{{bar.telefono}}">
          </div>
          
        </form>
      </div>
      <div class="modal-footer justify-content-center" id = "footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary mr-2">Cancelar</button>
        <button (click)="saveBar()" type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
  
  