<table class="table table-dark">
  
    <thead>
      <tr>
        <th>ID</th>
        <th>Tabla</th>
        <th>Operacion</th>
        <th>Fecha modificacion</th>
        <th>Usuario</th>
        <th>Anterior</th>
        <th>Nuevo</th>
      </tr>
    </thead>
    <tbody>
  
      @for (auditoria of paginatedAuditorias; track auditoria.id) {
        <tr >
          <td>{{auditoria.id}}</td>
          <td>{{auditoria.tablaModificada}}</td>
          <td>{{auditoria.tipoModificacion}}</td>
          <td>{{auditoria.fechaHoraModificacion}}</td>
          <td>{{auditoria.usuario}}</td>
          <td>{{auditoria.datoAnterior}}</td>
          <td>{{auditoria.datoNuevo}}</td>
          
          
        </tr>
  
      }
      
    </tbody>
  </table>

  
  
  <div>
    <button (click)="page = page - 1" [disabled]="page === 1">Anterior</button>
    <span>Página {{page}}</span>
    <button (click)="page = page + 1" [disabled]="page === Math.ceil(auditorias.length / pageSize)">Siguiente</button>
  </div>
  
  
