<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio de Sesión</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/tita.png" alt="Imagen" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1 class="text-center">Tita-Bernas</h1>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Usuario</label>
                        <input type="text" (input) = "getUser($event)" class="form-control" aria-describedby="emailHelp" placeholder="Introduce tu usuario">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Contraseña</label>
                        <input type="password" (input) = "getPassword($event)"class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)= "login()">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
   
</body>
</html>

