.gestion{

    background: linear-gradient(to right, #000000, #85dd74);
}

.background-image {
    position: absolute;
    max-width: 700px;
    margin-top: 1%;
    filter: grayscale(20%);
    z-index: 1; /* Ajusta el valor según sea necesario */
}

app-nav {
    z-index: 0; /* Un valor más bajo que el de la imagen */
}

#tita{
    max-width: 500px;
    max-width: 500px;
    position: absolute;
    margin-top: 10% ;
    
}